input:required:invalid{
    border : 1px solid yellow;
}
input{
    align-items: center;
}
body{
    background-color: tomato;
   
}
form{
    margin-left: 550px;
}
label{
    font-family: cursive;
    color: darkslateblue;
}